.why {
    text-align: center;
    background: var(--gray);
    padding-top: 5em;
    .copy {
        margin-bottom: 4em;
    }

    &__item {
        .copy {
            margin-bottom: 2em;
            display: inline-block;
        }
        img {
            margin-bottom: 1.5em;
        }
    }
}
